{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<div class="container mx-auto">
  <div class="row">
    <div class="col-md-8">
      {% for post in blogpages %}
      {% with post=post.specific %}
      {% if post.category == 'Opinion' %}
      <div class="card my-4 border-0 rounded-0">
        <div class="card-body border-top bg-warning">
          <div class="container clearfix">
            <a href="#" data-show-count="false"><i class="fab fa-twitter"></i></a><!--
            --><a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% pageurl post %}" target="_blank"><i class="fab fa-facebook-f"></i></a><!--
            --><a href="whatsapp://send" data-text="{{ post.title }}" data-href="http://127.0.0.1:8000{% pageurl post %}"><i class="fab fa-whatsapp"></i></a><!--
            --><a onclick="copy_to_clipboard('http://127.0.0.1:8000/{% pageurl post %}')"><i class="fas fa-link"></i></a>
            <p class="float-right topic">> {{ post.topic }}</p>
          </div>
          <h1 class="card-title pt-4"><a href="http://127.0.0.1:8000{% pageurl post %}">{{ post.title }}</a></h1>
          <p class="card-text text-dark"><small class="text-muted">{{ post.date|date:'d-M-Y H:i e' }}</small></p>

          <p class="card-text">{{ post.intro }}</p>
        </div>

        {% image post.main_image original as card_image %}
        <figcaption class="figure-caption text-right bg-warning"><small class="text-muted">{{ post.caption_image }}</small></figcaption>
        <img src="{{ card_image.url }}" class="card-img border-0 rounded-0">

      </div>
      {% elif post.category == 'Story' %}

      <div class="card my-4 border-0 rounded-0">
        <div class="card-body border-top bg-danger">

          <div class="container clearfix">
            <a href="#" data-show-count="false"><i class="fab fa-twitter"></i></a><!--
                --><a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% pageurl post %}" target="_blank"><i class="fab fa-facebook-f"></i></a><!--
                --><a href="whatsapp://send" data-text="{{ post.title }}" data-href="http://127.0.0.1:8000{% pageurl post %}"><i class="fab fa-whatsapp"></i></a><!--
                --><a onclick="copy_to_clipboard('http://127.0.0.1:8000/{% pageurl post %}')"><i class="fas fa-link"></i></a>
            <p class="float-right topic">> {{ post.topic }}</p>
          </div>


          <h1 class="card-title pt-4"><a href="{% pageurl post %}">{{ post.title }}</a></h1>
          <p class="card-text"><small class="text-muted">{{ post.date|date:'d-M-Y H:i e' }}</small></p>
          {% image post.main_image original as card_image %}
          <figcaption class="figure-caption text-right"><small class="text-muted">{{ post.caption_image }}</small></figcaption>
          <img src="{{ card_image.url }}" class="card-img border-0 rounded-0">
          <p class="card-text mt-3">{{ post.intro }}</p>
        </div>
      </div>

      {% else %}
      <div class="card my-4 border-0 rounded-0">
        <div class="card-body border-top">
          <div class="container clearfix">
            <a href="#" data-show-count="false"><i class="fab fa-twitter"></i></a><!--
                --><a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% pageurl post %}" target="_blank"><i class="fab fa-facebook-f"></i></a><!--
                --><a href="whatsapp://send" data-text="{{ post.title }}" data-href="http://127.0.0.1:8000{% pageurl post %}"><i class="fab fa-whatsapp"></i></a><!--
                --><a onclick="copy_to_clipboard('http://127.0.0.1:8000/{% pageurl post %}')"><i class="fas fa-link"></i></a>
            <p class="float-right">> {{ post.topic }}</p>
          </div>

          <h1 class="card-title pt-4"><a href="{% pageurl post %}">{{ post.title }}</a></h1>
          <p class="card-text"><small class="text-muted">{{ post.date|date:'d-M-Y H:i e' }}</small></p>

          <p class="card-text">{{ post.intro }}</p>
        </div>

        {% image post.main_image original as card_image %}

        <img src="{{ card_image.url }}" class="card-img border-0 rounded-0">
      </div>
      {% endif %}

      {% endwith %}
      {% endfor %}
    </div>
    <div class="col-md-4">


    </div>

  </div>

</div>


{% endblock %}
