{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

<div class="container mx-auto">
  <div class="row">
    <div class="col-md-8 infinite-container">
      {% for post in blogpages %}
      {% with post=post.specific %}
      {% if post.category == 'Data' %}

      <!-- DATA STORY CARD -->

      <div class="card my-4 border-0 rounded-0 infinite-item" id="data-story-card">
        <div class="card-body border-top" id="data-card-bg">

          <div class="container clearfix">
            <a href="#" data-show-count="false"><i class="fab fa-twitter"></i></a><!--
                --><a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% pageurl post %}" target="_blank"><i class="fab fa-facebook-f"></i></a><!--
                --><a href="whatsapp://send" data-text="{{ post.title }}" data-href="http://127.0.0.1:8000{% pageurl post %}"><i class="fab fa-whatsapp"></i></a><!--
                --><a onclick="copy_to_clipboard('http://127.0.0.1:8000/{% pageurl post %}')"><i class="fas fa-link"></i></a>
            <p class="float-right topic"><i class="fas fa-caret-right"></i> {{ post.topic }}</p>
          </div>


          <h1 class="card-title pt-4"><a href="{% pageurl post %}">{{ post.title }}</a></h1>
          <p class="card-text"><small class="text-muted">{{ post.date|date:'d-M-Y H:i e' }}</small></p>
          {% image post.main_image original as card_image %}
          <figcaption class="figure-caption text-right"><small class="text-muted">{{ post.caption_image }}</small></figcaption>
          <img src="{{ card_image.url }}" class="card-img border-0 rounded-0">
          <p class="card-text mt-3">{{ post.intro }}</p>
        </div>
      </div>

      {% elif post.category == 'Opinion' %}

      <!-- OPINION CARD -->

      <div class="card my-4 border-0 rounded-0 infinite-item" id="opinion-card">
        <div class="card-body border-top bg-warning" id="opinion-card-bg">
          <div class="container clearfix">
            <a href="#" data-show-count="false"><i class="fab fa-twitter"></i></a><!--
            --><a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% pageurl post %}" target="_blank"><i class="fab fa-facebook-f"></i></a><!--
            --><a href="whatsapp://send" data-text="{{ post.title }}" data-href="http://127.0.0.1:8000{% pageurl post %}"><i class="fab fa-whatsapp"></i></a><!--
            --><a href="#" onclick="copy_to_clipboard('http://127.0.0.1:8000{% pageurl post %}')"><i class="fas fa-link"></i></a>
            <p class="float-right topic"><i class="fas fa-caret-right"></i> {{ post.topic }}</p>
          </div>
          <h1 class="card-title pt-4"><a href="http://127.0.0.1:8000{% pageurl post %}" id="opinion-text-color">{{ post.title }}</a></h1>
          <p class="card-text"><small class="text-muted" id="opinion-text-color">{{ post.date|date:'d-M-Y H:i e' }}</small></p>

          <p class="card-text">{{ post.intro }}</p>
        </div>

        {% image post.main_image original as card_image %}
        <figcaption class="figure-caption text-right bg-warning" id="fig-caption-bg"><small class="text-muted">{{ post.caption_image }}</small></figcaption>
        <img src="{{ card_image.url }}" class="card-img border-0 rounded-0">

      </div>

      {% elif post.category == 'Fact' %}

      <div class="card my-4 border-0 rounded-0 infinite-item" id="data-story-card">
        <div class="card-body border-top" id="fact-card-bg">

          <div class="container clearfix">
            <a href="#" data-show-count="false"><i class="fab fa-twitter"></i></a><!--
                --><a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% pageurl post %}" target="_blank"><i class="fab fa-facebook-f"></i></a><!--
                --><a href="whatsapp://send" data-text="{{ post.title }}" data-href="http://127.0.0.1:8000{% pageurl post %}"><i class="fab fa-whatsapp"></i></a><!--
                --><a onclick="copy_to_clipboard('http://127.0.0.1:8000/{% pageurl post %}')"><i class="fas fa-link"></i></a>
            <p class="float-right topic"><i class="fas fa-caret-right"></i> {{ post.topic }}</p>
          </div>


          <h1 class="card-title pt-4"><a href="{% pageurl post %}">{{ post.title }}</a></h1>
          <p class="card-text"><small class="text-muted">{{ post.date|date:'d-M-Y H:i e' }}</small></p>
          {% image post.main_image original as card_image %}
          <figcaption class="figure-caption text-right"><small class="text-muted">{{ post.caption_image }}</small></figcaption>
          <img src="{{ card_image.url }}" class="card-img border-0 rounded-0">
          <p class="card-text mt-3">{{ post.intro }}</p>
        </div>
      </div>

      {% else %}

      <!-- NEWS ENTRY CARD -->

      <div class="card my-4 border-0 rounded-0 infinite-item" id="news-entry-card">
        <div class="card-body border-top">
          <div class="container clearfix">
            <a href="#" data-show-count="false"><i class="fab fa-twitter"></i></a><!--
                --><a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% pageurl post %}" target="_blank"><i class="fab fa-facebook-f"></i></a><!--
                --><a href="whatsapp://send" data-text="{{ post.title }}" data-href="http://127.0.0.1:8000{% pageurl post %}"><i class="fab fa-whatsapp"></i></a><!--
                --><a onclick="copy_to_clipboard('http://127.0.0.1:8000/{% pageurl post %}')"><i class="fas fa-link"></i></a>
            <p class="float-right"><i class="fas fa-caret-right"></i> {{ post.topic }}</p>
          </div>

          <h1 class="card-title pt-4"><a href="{% pageurl post %}">{{ post.title }}</a></h1>
          <p class="card-text"><small class="text-muted">{{ post.date|date:'d-M-Y H:i e' }}</small></p>

          <p class="card-text">{{ post.intro }}</p>
        </div>

        {% image post.main_image original as card_image %}

        <img src="{{ card_image.url }}" class="card-img border-0 rounded-0">
      </div>

      {% endif %}

      {% endwith %}
      {% endfor %}

      {% if blogpages.has_next %}
        <a class="infinite-more-link" href="?page={{ blogpages.next_page_number }}"></a>
      {% endif %}
    </div>


    <!-- {% if blogpages.has_next %}
      <a class="infinite-more-link" href="?page={{ articles.next_page_number }}">More</a>
    {% endif %} -->

    <div class="col-md-4">


    </div>

  </div>

</div>



{% endblock %}
