{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}
{% load i18n %}

{% language 'es' %}




{% block content %}

{% image page.main_image original as card_image %}


<div class="container mt-4">

<img src="{{ card_image.url }}" class="w-100 border-0 rounded-0">

<figcaption class="figure-caption text-right">{{ page.caption_image }}</figcaption>
</div>

<div class="container mx-auto m-4">

  <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white shadow-sm mt-4">
      <li class="breadcrumb-item active"><a href="#" class="text-dark">PRINCIPAL</a></li>
    </ol>
  </nav> -->


  <div class="row">
    <div class="col-sm-8">



    <h1 class="mt-4 border-top pt-5">{{ page.title }}</h1>
    <p class="meta">{{ page.date|date:'d-M-Y H:i e' }}</p>
    <a href="#"><i class="fab fa-twitter"></i></a><!--
    --><a href="#"><i class="fab fa-facebook-f"></i></a><!--
    --><a href="#"><i class="fab fa-whatsapp"></i></a><!--
    --><a href="#"><i class="fas fa-link"></i></a>

    <div class="intro border-bottom pb-2 pt-4">{{ page.intro }}</div>

    {{ page.body|richtext }}

    <p><a href="{{ page.get_parent.url }}">Regresar a principal</a></p>

</div>
</div>
</div>

{% endblock %}

{% endlanguage %}
