{% load static %}
{% load wagtailcore_tags %}
<!doctype html>
    <html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/929dd8246e.js" crossorigin="anonymous"></script>
        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <meta name="theme-color" content="#fafafa">

        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Heebo:900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,700i&display=swap" rel="stylesheet">


        {% block head_css %}{% endblock %}
        {% block head_javascript %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
{% block navbar %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark">
  <div class="container mx-auto">
  <a class="navbar-brand" href="{{ page.get_parent.url }}">Dato>Duro_</a>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" id="news-entry-menu">Noticias<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="opinion-menu">Opinión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="data-story-menu">Fact-Check</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Política</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Economía</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#">En vivo</a>
      </li>
      <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/datoduromx" target="_blank"><i class="fab fa-twitter-square"></i></a>
      </li>
      <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/datoduromx/" target="_blank"><i class="fab fa-facebook-square"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/datoduro" target="_blank"><i class="fab fa-github-square"></i></a>
      </li>


    </ul>
  </div>
  </div>
</nav>
{% endblock %}

{% block content %}{% endblock %}

    <script src="{% static 'js/vendor/modernizr-3.8.0.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
    </script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
          window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
          ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async></script>


{% block footer_javascript %}{% endblock %}
    </body>
</html>
