{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/style.css' %}">
  <script src="{% static 'dashboard/javascript/d3.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <title>Inflation | The Brexit Dashboard</title>
</head>

<body>
  <div class="inflation_header">
    <h2 class="article_title">Brexit vote increased prices; productivity and income in decline</h2>
    <img src="/static/dashboard/img/Carney_medium.jpg" id="front_image_inflation"></img>
    <div id="vis_inflation"></div>
  </div>
  <div id="auto_text"></div>
  <div>
    <form method="post" action="/indicators/inflation/" id="indicator_form_inflation">
      {% csrf_token %}
      <button class="indicator_botton" id="inflation_button" type="botton">Inflation Components</button>
    </form>
    <form method="post" action="/data/productivity/" id="productivity">
      {% csrf_token %}
      <button class="indicator_botton" id="productivity_button" type="botton">Productivity</button>
    </form>
    <form method="post" action="/data/income/" id="income">
      {% csrf_token %}
      <button class="indicator_botton" id="income_button" type="botton">Real Income</button>
    </form>
  </div>
  <article>
    <p>Last October, inflation reached 3% in the UK, the highest since April 2012. It is expected to decrease later in the year, according to the latest Inflation Report by the Bank of England. The Consumer Price Index including owner occupiers’ housing
      costs (CPIH) –the most comprehensive indicator of inflation– rose 2.8% in October and most of its components display an upward trend after the Brexit vote.<br><br> According to the latest report by the ONS, in October components such as alcohol
      rose 4.3%; furniture 3.1%; transport 3.8%; clothing 3.2% and food 4.1%. The depreciation of the sterling increased the value of imported goods, and some of that cost was transferred to consumers, decreasing purchasing power.<br><br> “The inflation
      rate for food and non-alcoholic beverages continued to increase to 4.1%, the highest since September 2013”, according to the ONS. “Rising prices for food and, to a lesser extent, recreational goods provided the largest upward contributions to change
      in the rate between September 2017 and October 2017”.<br><br> Although not all prices went up because of the effects of the Brexit vote, a weaker sterling is a vulnerability in the UK economy that hurts purchasing power, especially since prices
      of commodities are already picking up in the international market.<br><br> “The depreciation of sterling, which, since the EU referendum, has remained 15%–20% below its peak in November 2015”, according to the Inflation Report by the Bank of England.<br><br>      The central bank explained that the prices of some commodities, such as oil and metals spiked in recent months. “The cost of oil accounts for around one-third of the cost of retail fuel and tends to be passed on to fuel prices relatively quickly”.<br><br>      The consumer prices' increase was an after-shock of the Brexit vote, an event that triggered a weaker pound. “Sterling non-energy import prices increased by 10% between 2015 Q4 and 2017 Q2, and are expected to rise further over 2018”, according
      to the central bank.<br><br>
      <strong class="article_sub">Productivity, the culprit of lower living standards</strong><br><br> Inflation is only one of two channels that are affecting purchasing power in the UK, after the Brexit referendum and what prompted the negative impact
      on private consumption of early 2017.<br><br> According to the OECD, another channel is productivity underperformance, its impact on wages and living standards.<br><br> “Productivity has not grown since the financial crisis, average productivity
      growth is very weak, and this weakness is also being reflected on wages”, said the OECD in a request for comment.<br><br> Productivity has remained stagnant since the financial crisis of 2008, way below the average of the G7, and just a little above
      the EU and OECD average.<br><br> “Inflation is the direct channel by which Brexit is affecting living standards. But the other is the fall in productivity which is not directly related to Brexit because the problem is almost a decade old, a period
      where there hasn’t been growth”, said the OECD.<br><br> The OECD explained there are many factors involved in the fall of productivity during the last decade since it is “difficult” to pinpoint a single cause such as austerity measures or less business
      investment.
      <br><br> “For instance, the average level of skills in the UK is not high. At least a quarter of the population has only basic skills. This is another great impediment to improving productivity”, said the OECD. “When you see different indicators,
      you can actually see that education attainment is not as high as it could be.”<br><br> The OECD also said that the current generation of young workers in the UK has comparable skills to older workers. “In other OECD countries, all the workers that
      are about to leave the labour market are less qualified than the younger population, which implies there is a “progress” in terms of accumulating higher educational capital, something you don’t see in the UK”.<br><br> The lack of a successful strategy
      to invest in skills and the fall in productivity push real income of workers down. The UK government has reduced the expenditure in education. In 2010, the government was spending 5.8% of the GDP, and in 2016, only 4.4% of the GDP, a decrease of
      £15 billion pounds.<br><br> Also, many industries are not catching up with new technologies, and that prevents them from increasing their productivity. “Salaries are linked to movements in productivity, and if this component doesn’t grow very fast,
      neither income, so it is possible to relate investment in research and development (R&D) to productivity”, said in a telephone interview, Samuli Leppala, academic from Cardiff University.<br><br> “The problem is that right now, industries other
      than high tech industries have not been very successful in adopting new technology”, he added.<br><br> Real disposable income in the UK has sharply decreased since the third quarter of 2015, and continue declining after the Brexit vote according
      to the ONS.<br><br> “As their real earnings and real incomes have come to a standstill notably with higher consumer price inflation and weak productivity growth, households have reduced the amount they are saving and increased indebtedness”, according
      to the UK Economic Survey by the OECD.<br><br>
      <strong class="article_sub">Consumer debt is piling up, putting consumers at risk</strong><br><br> Consumer debt reached £197 billion in the third quarter of 2017, according to the Bank of England. From that amount, £68 billion is from credit cards,
      and £130 billion are from other loans and advances. Although the credit rating agency S&P considers the short-term risk is low in a recent report, “the recent double-digit annual growth rate in the UK consumer credit would be unsustainable if it
      continued at the same pace”.<br><br> According to S&P, more consumers turned to unsecured personal loans in recent years, with growth accelerating up to 5% in 2015. The problem is that this type of credit –predominantly private loans and overdrafts–
      “weighs most heavily on households, with evidence of aggressive pricing and increasingly larger ticket loans”.<br><br> Another problem is that “credit cards still contribute to household debt binge”. One of these mechanisms is the expansion of credit
      card interest-free offers, to 28 months in 2017, from 15 months in 2015, according to S&P.<br><br> “Although these types of offers allow customers to repay principal balances over a longer period, they do not incentivise consistent debt repayments
      that meaningfully reduce the principal, which can lead to further and more persistent indebtedness”, according to the report. “Borrowers can then end up being exposed to relatively high-interest payments and fees when interest-free periods finish,
      which could lead to increasing charge-off rates”.<br><br> Risks may increase in case of an economic downturn –as it may be expected with a hard Brexit– and with the increase of interest rates by the Bank of England. Although agencies such as S&P
      expect a gradual rise in interest rates, people in the UK still face a hike in prices and a squeeze in real income.<br><br> “The near-term concerns are a reduction in borrower’s capacity of repayment that relates mostly to inflation-related pressures
      and real wage growth lagging”, said Joseph Godsmark, a primary credit analyst at S&P, in a live webcast about UK Consumer Credit Growth.<br><br> Neither the Bank of England or S&P anticipate a systemic risk on banking institutions or the UK economy
      because of the rise of consumer debt.<br><br> “However, increases in credit losses are usually correlated to an economic downturn, and spikes in credit losses tend to be sharp and very sudden”, according to the latest S&P report on consumer credit.
      “This is especially the case for consumer credit, where we expect credit losses to be proportionately more severe and flow through a bank's financial statements over a single year compared with up to three years for the other main asset classes”.<br><br>      The UK will likely face Brexit with a high household debt approaching to 90% of the GDP, according to the latest figures by the Bank for International Settlements (BIS). And with rising inflation and stagnant wages, people in the UK may have problems
      to service debt “resulting in more pressure on system-wide credit losses”, according to S&P.<br><br> “Given consumer loan products' terms are typically under five years, we think that credit originated within the past 12 months that is further away
      from the end of its full payment term, is most exposed to medium-term pressures”, according to the report by S&P.<br><br>
    </p>
    <p id="img-credit-BoE">Image by <a href="https://www.flickr.com/photos/bankofengland/30821834846/in/album-72157675126235440/" target="_blank">The Bank of England<a></p>

  </article>
</body>
<script src="{% static 'dashboard/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script>
  var inflation = {{ inflation_json | safe }}
  console.log(inflation)

  document.getElementById("auto_text").innerText = inflation[16]['text']

  var margin = {
    top: 50,
    left: 60,
    right: 30,
    bottom: 60,
  };

  var width = 500;
  var height = 400;

  var svg = d3.select('#vis_inflation')
    .append('svg')
    .attr('width', width)
    .attr('height', height)
    .append('g')
    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

  svg.append("linearGradient")
    .attr("id", "line-gradient")
    .attr("gradientUnits", "userSpaceOnUse")
    .attr("x1", 0).attr("y1", "0%")
    .attr("x2", 0).attr("y2", "100%")
    .selectAll("stop")
    .data([{
        offset: "0%",
        color: "red"
      },
      {
        offset: "60%",
        color: "skyblue"
      },
      {
        offset: "100%",
        color: "skyblue"
      }
    ])
    .enter().append("stop")
    .attr("offset", function(d) {
      return d.offset;
    })
    .attr("stop-color", function(d) {
      return d.color;
    });

  svg.append("linearGradient")
    .attr("id", "line-gradient-inflation")
    .attr("gradientUnits", "userSpaceOnUse")
    .attr("x1", 0).attr("y1", "0%")
    .attr("x2", 0).attr("y2", "100%")
    .selectAll("stop")
    .data([{
        offset: "0%",
        color: "lime"
      },
      {
        offset: "70%",
        color: "red"
      },
      {
        offset: "100%",
        color: "red"
      }
    ])
    .enter().append("stop")
    .attr("offset", function(d) {
      return d.offset;
    })
    .attr("stop-color", function(d) {
      return d.color;
    });

  var tooltip = d3.select('body')
    .append('div')
    .attr('class', 'tooltip');

  width = width - margin.left - margin.right;
  height = height - margin.top - margin.bottom;

  var dateParse = d3.timeParse('%Y %b');
  var tooltipFormat = d3.timeFormat('%b %Y');

  var x = d3.scaleTime()
    .range([0, width]);

  var y = d3.scaleLinear()
    .domain(d3.extent(inflation, function(d) {
      return parseFloat(d.cpih);
    }))
    .range([height, 0]);

  var x_axis = d3.axisBottom(x)
  var y_axis = d3.axisLeft(y)

  // x label
  svg.append('g')
    .attr('transform', 'translate(0,' + height + ')')
    .attr('class', 'x axis');

  // y label
  svg.append('g')
    .attr('class', 'y axis')

  svg.selectAll('#tags')
    .remove()

  svg.append("text")
    .attr("id", "tags")
    .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + 2) + ")")
    .style("text-anchor", "middle")
    .text("Months");

  svg.append("text")
    .attr("id", "tags")
    .attr("transform", "rotate(-90)")
    .attr("y", 10 - margin.left)
    .attr("x", 0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Year-to-Year inflation %");

  svg.append("text")
    .attr("x", (width / 2))
    .attr("id", "tags")
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "18px")
    .text("Inflation spiked after the Brexit vote");

  function make_x_gridlines() {
    return d3.axisBottom(x)
      .ticks(0);
  }

  function make_y_gridlines() {
    return d3.axisLeft(y)
      .ticks(10);
  }

  // add the X gridlines
  svg.append("g")
    .attr("class", "grid")
    .attr("transform", "translate(0," + height + ")")
    .call(make_x_gridlines()
      .tickSize(-height)
      .tickFormat("")
    );
  // add the Y gridlines
  svg.append("g")
    .attr("class", "grid")
    .call(make_y_gridlines()
      .tickSize(-width)
      .tickFormat("")
    );

  x.domain(d3.extent(inflation, function(d) {
    return dateParse(d.date);
  }));

  y.domain(d3.extent(inflation, function(d) {
    return parseFloat(d.cpih);
  }));

  var line = d3.line()
    .curve(d3.curveCatmullRom)
    .x(function(d) {
      return x(dateParse(d.date));
    })
    .y(function(d) {
      return y(d.cpih);
    });

  var lines = svg.selectAll('.line')
    .remove()
    .exit()
    .data([inflation]);
  console.log(lines)

  lines
    .enter()
    .append('path')
    .attr('class', 'line')
    .attr("id", "tags")
    .attr('fill', 'none')
    .attr('d', line);

  svg.selectAll('.line')
    .transition()
    .duration(1000)

  var points = svg.selectAll('.point')
    .remove()
    .exit()
    .data(inflation);

  points
    .enter()
    .append('circle')
    .attr('class', 'point')
    .attr('r', 2.5)
    .attr('cx', function(inflation) {
      return x(dateParse(inflation.date));
    })
    .attr('cy', function(inflation) {
      return y(inflation.cpih);
    })
    .attr('fill', 'black')
    .attr('opacity', 1)
    .on('mouseover', mouseOver)
    .on('mousemove', mouseMove)
    .on('mouseout', mouseOut);

  svg.select('.x.axis')
    .call(x_axis)
    .selectAll('text')
    .attr('transform', 'rotate(30)')
    .attr('y', '10')
    .attr('x', '0')
    .style("text-anchor", "start");

  svg.select('.y.axis')
    .call(y_axis)

  function mouseOver(d) {
    var date = dateParse(d.date);
    var displayDate = tooltipFormat(date)
    var value_function = d.cpih;

    d3.select(this)
      .transition()
      .style('opacity', 1);

    tooltip
      .style('display', null)
      .html('<p>CPIH inflation was ' + value_function + ' in ' + displayDate + '<br/>Source: ONS' + '</p>');
  }

  function mouseMove(d) {
    tooltip
      .style('top', (d3.event.pageY - 20) + "px")
      .style('left', (d3.event.pageX + 20) + "px");
  }

  function mouseOut(d) {
    d3.select(this)
      .transition()
      .style('opacity', 1);

    tooltip
      .style('display', 'none');

  }

  $(document).on('submit', '#indicator_form_inflation', function(e) {
    e.preventDefault();

    $.ajax({
      url: "/data/inflation/",
      type: "POST", // or "get"
      data: {
        years: $('#select_dropdown').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function inflation_graph(inflation) {

        svg.selectAll('#tags')
          .remove()

        svg.append("text")
          .attr("id", "tags")
          .attr("x", (width / 2))
          .attr("y", 0 - (margin.top / 2))
          .attr("text-anchor", "middle")
          .style("font-size", "18px")
          .text("Inflation increased in most components");

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "rotate(-90)")
          .attr("y", 10 - margin.left)
          .attr("x", 0 - (height / 2))
          .attr("dy", "1em")
          .style("text-anchor", "middle")
          .text("Monthly annual rate inflation %")

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + -2) + ")")
          .style("text-anchor", "middle")
          .text("Months");

        var dateParse = d3.timeParse('%Y %b');
        var tooltipFormat = d3.timeFormat('%Y %b');


        x.domain(d3.extent(inflation, function(d) {
          return dateParse(d.date);
        }));

        y.domain(d3.extent(
          [].concat(inflation.map(function(d) {
            return parseFloat(d.food);
          }), inflation.map(function(d) {
            return parseFloat(d.alcohol);
          }), inflation.map(function(d) {
            return parseFloat(d.clothing);
          }), inflation.map(function(d) {
            return parseFloat(d.cpih);
          }), inflation.map(function(d) {
            return parseFloat(d.housing);
          }), inflation.map(function(d) {
            return parseFloat(d.furniture);
          }), inflation.map(function(d) {
            return parseFloat(d.health);
          }), inflation.map(function(d) {
            return parseFloat(d.transport);
          }), inflation.map(function(d) {
            return parseFloat(d.communication);
          }), inflation.map(function(d) {
            return parseFloat(d.recreation);
          }))));

        // y.domain(d3.extent(inflation, function(d) {
        //   return parseFloat(d.alcohol);
        // }));

        var line = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.cpih);
          });

        var line_food = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.food);
          });

        var line_alcohol = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.alcohol);
          });

        var line_clothing = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.clothing);
          });

        var line_housing = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.housing);
          });

        var line_furniture = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.furniture);
          });

        var line_health = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.health);
          });

        var line_transport = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.transport);
          });

        var line_communication = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.communication);
          });

        var line_recreation = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.recreation);
          });

        // var remove_lines = svg.selectAll('#lines')
        //   .remove()
        //   .exit()

        var lines = svg.selectAll('.line')
          .remove()
          .exit()
          .data([inflation]);

        var lines = svg.selectAll('.line_cpih')
          .remove()
          .exit()
          .data([inflation]);

        var lines_s = svg.selectAll('.line_food')
          .remove()
          .exit()
          .data([inflation]);

        var lines_p = svg.selectAll('.line_alcohol')
          .remove()
          .exit()
          .data([inflation]);

        var lines_m = svg.selectAll('.line_clothing')
          .remove()
          .exit()
          .data([inflation]);

        var lines_c = svg.selectAll('.line_housing')
          .remove()
          .exit()
          .data([inflation]);

        var lines_f = svg.selectAll('.line_furniture')
          .remove()
          .exit()
          .data([inflation]);

        var lines_h = svg.selectAll('.line_health')
          .remove()
          .exit()
          .data([inflation]);

        var lines_t = svg.selectAll('.line_transport')
          .remove()
          .exit()
          .data([inflation]);

        var lines_com = svg.selectAll('.line_communication')
          .remove()
          .exit()
          .data([inflation]);

        var lines_r = svg.selectAll('.line_recreation')
          .remove()
          .exit()
          .data([inflation]);

        lines
          .enter()
          .append('path')
          .attr('class', 'line_cpih')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line);

        lines_s
          .enter()
          .append('path')
          .attr('class', 'line_food')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_food);

        lines_p
          .enter()
          .append('path')
          .attr('class', 'line_alcohol')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_alcohol);

        lines_m
          .enter()
          .append('path')
          .attr('class', 'line_clothing')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_clothing);

        lines_c
          .enter()
          .append('path')
          .attr('class', 'line_housing')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_housing);

        lines_f
          .enter()
          .append('path')
          .attr('class', 'line_furniture')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_furniture);

        lines_h
          .enter()
          .append('path')
          .attr('class', 'line_health')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_health);

        lines_t
          .enter()
          .append('path')
          .attr('class', 'line_transport')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_transport);

        lines_com
          .enter()
          .append('path')
          .attr('class', 'line_communication')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_communication);

        lines_r
          .enter()
          .append('path')
          .attr('class', 'line_recreation')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_recreation);

        var points = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_s = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_p = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_m = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_c = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_f = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_h = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_t = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_com = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        var points_r = svg.selectAll('.point')
          .remove()
          .exit()
          .data(inflation);

        points
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.cpih);
          })
          .attr('fill', 'blue')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_s
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.food);
          })
          .attr('fill', 'red')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_p
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.alcohol);
          })
          .attr('fill', 'orange')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_m
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.clothing);
          })
          .attr('fill', 'green')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_c
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.housing);
          })
          .attr('fill', 'black')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_f
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.furniture);
          })
          .attr('fill', 'purple')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_h
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.health);
          })
          .attr('fill', 'yellow')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_t
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.transport);
          })
          .attr('fill', 'brown')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_com
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.communication);
          })
          .attr('fill', 'grey')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_r
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr('r', 2.5)
          .attr('cx', function(inflation) {
            return x(dateParse(inflation.date));
          })
          .attr('cy', function(inflation) {
            return y(inflation.recreation);
          })
          .attr('fill', 'gold')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        svg.select('.x.axis')
          .call(x_axis)
          .selectAll('text')
          .attr('transform', 'rotate(30)')
          .attr('y', '10')
          .attr('x', '0')
          .style("text-anchor", "start");

        svg.select('.y.axis')
          .call(y_axis)

        function mouseOver(d) {
          var date = dateParse(d.date);
          var displayDate = tooltipFormat(date)
          var cpih_function = d.cpih;
          var food_cpih = d.food;
          var alcohol_cpih = d.alcohol;
          var clothing_cpih = d.clothing;
          var housing_cpih = d.housing;
          var furniture_cpih = d.furniture;
          var health_cpih = d.health;
          var transport_cpih = d.transport;
          var communication_cpih = d.communication;
          var recreation_cpih = d.recreation;

          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', null)
            .html('<p><strong id="cpih">CPIH:</strong> ' + cpih_function + '% in ' + displayDate + '<br><strong id="food">food:</strong> ' + food_cpih + '% in ' + displayDate +
              '<br><strong id="alcohol">alcohol:</strong> ' + alcohol_cpih + '% in ' + displayDate + '<br><strong id="clothing">clothing:</strong> ' + clothing_cpih + '% in ' + displayDate +
              '<br><strong id="housing">housing:</strong> ' + housing_cpih + '% in ' + displayDate +
              '<br><strong id="furniture">furniture:</strong> ' + furniture_cpih + '% in ' + displayDate +
              '<br><strong id="health">health:</strong> ' + health_cpih + '% in ' + displayDate +
              '<br><strong id="transport">transport:</strong> ' + transport_cpih + '% in ' + displayDate +
              '<br><strong id="communication">communication:</strong> ' + communication_cpih + '% in ' + displayDate +
              '<br><strong id="recreation">recreation:</strong> ' + recreation_cpih + '% in ' + displayDate + '<br/>Source: ONS');
        }

        function mouseMove(d) {
          tooltip
            .style('top', (d3.event.pageY - 20) + "px")
            .style('left', (d3.event.pageX + 20) + "px");
        }

        function mouseOut(d) {
          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', 'none');

        }
      }
    });
  });

  // PRODUCTIVITY
  $(document).on('submit', '#productivity', function(e) {
    e.preventDefault();

    $.ajax({
      url: "/data/productivity/",
      type: "POST", // or "get"
      data: {
        years: $('#select_dropdown').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function productivity(productivity) {
        console.log(productivity)

        svg.selectAll('#tags')
          .remove()

        svg.append("text")
          .attr("x", (width / 2))
          .attr("id", "tags")
          .attr("y", 0 - (margin.top / 2))
          .attr("text-anchor", "middle")
          .style("font-size", "18px")
          .text("UK's productivity remains stangnant");

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "rotate(-90)")
          .attr("y", 10 - margin.left)
          .attr("x", 0 - (height / 2))
          .attr("dy", "1em")
          .style("text-anchor", "middle")
          .text("GDP per hour worked")

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + -2) + ")")
          .style("text-anchor", "middle")
          .text("Years");

        var dateParse = d3.timeParse('%Y');
        var tooltipFormat = d3.timeFormat('%Y');

        x.domain(d3.extent(productivity, function(d) {
          return dateParse(d.date);
        }));

        y.domain(d3.extent(
          [].concat(productivity.map(function(d) {
            return parseFloat(d.UK);
          }), productivity.map(function(d) {
            return parseFloat(d.EU);
          }), productivity.map(function(d) {
            return parseFloat(d.G7);
          }), productivity.map(function(d) {
            return parseFloat(d.OECD);
          }))));

        var line_UK = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.UK);
          });

        var line_OECD = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.OECD);
          });

        var line_EU = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.EU);
          });

        var line_G7 = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.G7);
          });

        var lines_s = svg.selectAll('.line_UK')
          .remove()
          .exit()
          .data([productivity]);

        var lines_p = svg.selectAll('.line_OECD')
          .remove()
          .exit()
          .data([productivity]);

        var lines_m = svg.selectAll('.line_EU')
          .remove()
          .exit()
          .data([productivity]);

        var lines_c = svg.selectAll('.line_G7')
          .remove()
          .exit()
          .data([productivity]);

        lines_s
          .enter()
          .append('path')
          .attr('class', 'line_UK')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_UK);

        lines_p
          .enter()
          .append('path')
          .attr('class', 'line_OECD')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_OECD);

        lines_m
          .enter()
          .append('path')
          .attr('class', 'line_EU')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_EU);

        lines_c
          .enter()
          .append('path')
          .attr('class', 'line_G7')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_G7);

        var points = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        var points_s = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        var points_p = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        var points_m = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        var points_c = svg.selectAll('.point')
          .remove()
          .exit()
          .data(productivity);

        points_s
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(productivity) {
            return x(dateParse(productivity.date));
          })
          .attr('cy', function(productivity) {
            return y(productivity.UK);
          })
          .attr('fill', 'red')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_p
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(productivity) {
            return x(dateParse(productivity.date));
          })
          .attr('cy', function(productivity) {
            return y(productivity.OECD);
          })
          .attr('fill', 'orange')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_m
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(productivity) {
            return x(dateParse(productivity.date));
          })
          .attr('cy', function(productivity) {
            return y(productivity.EU);
          })
          .attr('fill', 'green')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        points_c
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(productivity) {
            return x(dateParse(productivity.date));
          })
          .attr('cy', function(productivity) {
            return y(productivity.G7);
          })
          .attr('fill', 'black')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        svg.select('.x.axis')
          .call(x_axis)
          .selectAll('text')
          .attr('transform', 'rotate(30)')
          .attr('y', '10')
          .attr('x', '0')
          .style("text-anchor", "start");

        svg.select('.y.axis')
          .call(y_axis)

        function mouseOver(d) {
          var date = dateParse(d.date);
          var displayDate = tooltipFormat(date)
          var UK = d.UK;
          var OECD = d.OECD;
          var EU = d.EU;
          var G7 = d.G7;

          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', null)
            .html('<p><strong id="UK">UK:</strong> ' + UK + ' in ' + displayDate + '<br><strong id="OECD">OECD:</strong> ' + OECD + ' in ' + displayDate + '<br><strong id="EU">EU:</strong> ' + EU + ' in ' + displayDate +
              '<br><strong id="G7">G7:</strong> ' + G7 + ' in ' + displayDate + '<br/>Source: OECD');
        }

        function mouseMove(d) {
          tooltip
            .style('top', (d3.event.pageY - 20) + "px")
            .style('left', (d3.event.pageX + 20) + "px");
        }

        function mouseOut(d) {
          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', 'none');

        }
      }
    });
  });


  // INCOME
  $(document).on('submit', '#income', function(e) {
    e.preventDefault();

    $.ajax({
      url: "/data/income/",
      type: "POST", // or "get"
      data: {
        years: $('#select_dropdown').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function income(income) {

        svg.selectAll('#tags')
          .remove()

        svg.append("text")
          .attr("x", (width / 2))
          .attr("id", "tags")
          .attr("y", 0 - (margin.top / 2))
          .attr("text-anchor", "middle")
          .style("font-size", "18px")
          .text("UK's income declined after Brexit vote");

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "rotate(-90)")
          .attr("y", 10 - margin.left)
          .attr("x", 0 - (height / 2))
          .attr("dy", "1em")
          .style("text-anchor", "middle")
          .text("Real income % Year-to-Year growth")

        svg.append("text")
          .attr("id", "tags")
          .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + -2) + ")")
          .style("text-anchor", "middle")
          .text("Quarters");

        var dateParse = d3.timeParse('%Y %b');
        var tooltipFormat = d3.timeFormat('%b %Y');

        x.domain(d3.extent(income, function(d) {
          return dateParse(d.date);
        }));

        y.domain(d3.extent(income, function(d) {
          return parseFloat(d.growth);
        }));

        var line_income = d3.line()
          .curve(d3.curveCatmullRom)
          .x(function(d) {
            return x(dateParse(d.date));
          })
          .y(function(d) {
            return y(d.growth);
          });

        var lines_s = svg.selectAll('.line_income')
          .remove()
          .exit()
          .data([income]);

        lines_s
          .enter()
          .append('path')
          .attr('class', 'line_income')
          .attr("id", "tags")
          .attr('fill', 'none')
          .attr('d', line_income);

        var points = svg.selectAll('.point')
          .remove()
          .exit()
          .data(income);

        var points_s = svg.selectAll('.point')
          .remove()
          .exit()
          .data(income);

        points_s
          .enter()
          .append('circle')
          .attr('class', 'point')
          .attr("id", "tags")
          .attr('r', 2.5)
          .attr('cx', function(income) {
            return x(dateParse(income.date));
          })
          .attr('cy', function(income) {
            return y(income.growth);
          })
          .attr('fill', 'black')
          .attr('opacity', 1)
          .on('mouseover', mouseOver)
          .on('mousemove', mouseMove)
          .on('mouseout', mouseOut);

        svg.select('.x.axis')
          .call(x_axis)
          .selectAll('text')
          .attr('transform', 'rotate(30)')
          .attr('y', '10')
          .attr('x', '0')
          .style("text-anchor", "start");

        svg.select('.y.axis')
          .call(y_axis)

        function mouseOver(d) {
          var date = dateParse(d.date);
          var displayDate = tooltipFormat(date)
          var income_growth = d.growth;

          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', null)
            .html('<p><strong id="Real income growth">Income growth in the UK was</strong> ' + income_growth + '% in quarter ending ' + displayDate + '<br>Source: ONS');
        }

        function mouseMove(d) {
          tooltip
            .style('top', (d3.event.pageY - 20) + "px")
            .style('left', (d3.event.pageX + 20) + "px");
        }

        function mouseOut(d) {
          d3.select(this)
            .transition()
            .style('opacity', 1);

          tooltip
            .style('display', 'none');

        }
      }

    });
  });
</script>

</html>
