{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="{% static 'dashboard/javascript/d3.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <title>UK Economy Automated Report | The Brexit Dashboard</title>
</head>

<body>
  <div class="inflation_header">
    <h2 class="article_title">UK Economy Automated Report</h2>
    <img src="/static/dashboard/img/flags.jpg" id="front_image_growth"></img>
    <div id="vis_growth"></div>
  </div>
      <article>
        <p id="auto_text_main"></p><br><br>
        <p id="img-credit-report">Image by <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Public Domain<a></p>
      </article>
</body>
<script src="{% static 'dashboard/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script>
  var UK_economy = {{ automated_report_json | safe }}
  console.log(UK_economy)

  document.getElementById("auto_text_main").innerText = UK_economy[0]['text']
</script>
